.section-contacto {
    background-color: $secundario;

    .contenedor-contacto {
        padding: 4rem 2rem;
        @include tablet {
            @include grid(2, 10rem);
            grid-template-columns: 1fr 3fr;
        }
    }


    .contacto-izquierda {
        .contenedor-freelance {
            display: flex;
            flex-direction: column;
            align-items: start;
            .freelance {
                color: white;
            }
            .disponible {
                color: rgb(119, 197, 1);
            }
            .text {
                line-height: 1.2;
                font-weight: 700;
                font-size: 2rem;
                
                @include tablet {
                    font-size: 3rem;
                }
            }
        }
        .descripcion-contacto {
            margin: 1rem 0;
            color: rgb(187, 187, 187);
            font-size: 1.2rem;
        }
    }

    .contacto-derecha {
        h3 {
            color: $principal;
            font-weight: 700;
            font-size: 3rem;
            padding-bottom: 2rem;
            line-height: 1.3;
            span {
                font-size: 1.3rem;
                color: darken($principal, 20);
            }
            @include tablet {
                font-size: 4rem;
            }
        }
        ul {
            @include grid(3, 1rem);
            @include tablet {
                @include grid(3, 5rem);
            }
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                color: darken($principal, 30);
                font-size: 1.3rem;
                cursor: pointer;
                transition: all .5s ease-in-out;
                border: .2rem solid darken($principal, 30);
                height: 4rem;
                border-radius: 2rem;
                i {
                    padding-right: .5rem;
                    font-size: 2rem;
                }
                
                &:hover {
                    color: $principal;
                    transform: scale(1.05);
                    border: .2rem solid $principal;
                }
            }
        }
    }
}