header {
    background-color: $secundario;
    height: 8rem;
    border-bottom: .1rem solid #0c5e5c;

   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
        @include desktopXL {
            padding: 0;
        }
        
        .logo {
            width: 17rem;
            min-width: 15rem;
            cursor: pointer;
        }
   }

   .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;

        .header-desktop {
            display: none;
            @include tablet {
                display: block;
            }
            .contenedor-nav {
                display: flex;
                li {
                    margin-right: 4rem;
                    font-size: 1.6rem;
                    font-weight: 500;
                }
                a {
                    color: $principal;
                }
            }
        }

        .modos {
            cursor: pointer;
            display: flex;
            align-items: center;
            min-width: 5rem;
            color: $principal;
            .icono-sol {
                display: none;
            }
            .icono-luna {
                display: block;
                height: 2.5rem;
                margin: 0 3rem;
                @include tablet {
                    margin: 0;
                }
            }
        }

        .header-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            @include tablet {
                display: none;
            }
            .icono-menu {
                cursor: pointer;
                width: 3rem;
                min-width: 3rem;
                display: flex;
            }
        }
   }

}
